.search-page-form-heading{
    font-size: 50px;
    @media (width<768px) {
        font-size: 40px;
    }
}

.hero-banner-form{
    z-index: 10;
    >div{
        input{
            box-shadow: 0px 10px 20px 0px rgba(128, 128, 128, 0.3);
            
        }
        button{
            box-shadow: 0px 10px 20px 0px rgba(128, 128, 128, 0.3);
            font-size: 25px;
            padding: 10px 30px;

        }
    }
}
.know-more-img-div{
    border-radius: 10px;
    border-top-right-radius: 30% ;
    position: relative;
    z-index: 10;
    @media (width<768px) {
        width: 80%;
    }
    @media (width<576px) {
        width: 100%;
    }
    img{
        border-radius: 10px;
        border-top-right-radius: 30% ;
        width: 100%;
        
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 40px;
        left: 30px;
        border: 3px solid #f68c20;
        border-radius: 10px;
        border-top-right-radius: 30% ;
        z-index: -1;
}
}
.know-more-section-heading{
    transition: all 0.4s;
    color: #302d3a;
    font-size: 40px;
    text-align: left;
    @media (width <992px) {
        font-size: 30px;
    }
    @media (width <768px) {
        font-size: 25px;
    }

}
.homepage-category-section-para{
    font-size: 20px;
    @media (width <768px) {
        font-size: 16px;
        text-align: center;
    }
    
}

